.navbar {
  // border: 2px solid red;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;

  h1 {
    color: #5a1bee;
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
  }

  .links {
    margin-left: auto;
  }

  a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    font-size: 0.9rem;
    font-weight: 500;
    // outline: 1px solid red;
  }

  a:hover {
    color: var(--color-primary);
  }
}
