.createBlog {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;

  h1 {
    color: var(--color-primary);
    margin-bottom: 1rem;
  }

  form {
    // border: 2px solid var(--color-primary);
    padding: 1rem;
  }

  form > label {
    text-align: left;
    display: block;
  }

  form > input,
  textarea,
  select {
    border: 2px solid var(--color-primary);
    width: 100%;
    outline: 0;
    padding: 0.4rem 0.5rem;
    margin: 0.6rem 0;
    display: block;
    color: var(--color-primary);
    font-weight: 600;
  }

  button {
    margin-top: 1.2rem;
    // width: 100px;
    outline: 0;
    border: 0;
    background-color: var(--color-primary);
    color: white;
    padding: 0.4rem 1rem;
    margin-top: 1rem;
    border-radius: 0.1rem;
    cursor: pointer;

    &:hover {
      background-color: var(--color-hover);
    }
  }
}
