@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #5a1bee;
  --color-hover: #460fc7;
}

* {
  margin: 0;
  font-family: 'Poppins';
  color: #333;
  box-sizing: border-box;
}
